/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Navbar */
.navbar {
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
    padding: 2vh 2vh;
}

.navbar .navbar-toggler {
    border: unset;
}

.navbar .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.navbar button {
    margin-right: 0vh;
}

.navbar-nav .nav-link {
    padding: 0;
    font-family: 'Viga', sans-serif;
}

.navbar-nav .active {
    font-weight: bold;
}

.navbar-brand img {
    height: 4vw;
    -webkit-filter: brightness(35%) contrast(100%);
            filter: brightness(35%) contrast(100%);
    margin-top: -5px;
}

.navbar-brand img:hover {
    -webkit-filter: brightness(50%) contrast(100%);
            filter: brightness(50%) contrast(100%);
    margin-top: -5px;
}

.navbar-brand {
    margin-left: 3vh;
}

/* Jumbotron */
.jumbotron {
    height: 55vh;
    background-size: cover;
}


.jumbotron img {
    position: relative;
    z-index: 2;
    width: 8vh;
    margin-top: 0vh;
    padding-top: 17vh;
    padding-bottom: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 0px;
    font-weight: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    font-size: 3.5vh;
    margin-bottom: 30px;
    text-align: center;
    z-index: 2;
    position: relative;
    font-family: 'Teko', sans-serif;
}

.jumbotron a {
    text-align: center;
    z-index: 2;
    position: relative;
    left: 50%;
    margin-top: 1vh;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.3vh;
    font-family: 'Viga', sans-serif;
}

.jumbotron .display-4 span {
    font-weight: bolder;
}

.jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 70%;
    /*  object-fit is not supported on IE  */
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(35%);
            filter: brightness(35%);
}

/* Panel Info */
.panel-info {
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
    border-radius: 12px;
    background-color: white;
    margin-top: 0vh;
    padding: 30px;
    position: relative;
    z-index: 4;
}

.panel-info img {
    width: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.panel-info img:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}

.panel-info h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.panel-info p {
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;
}

/* Working Space */
.working-space {
    margin-top: 120px;
    text-align: center;
}

.working-space img {
    border-radius: 10px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.working-space .cover {
    overflow: hidden;
    border-radius: 10px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.working-space .cover:hover img {
    -webkit-transform: scale(1.8) rotate(-15deg);
        -ms-transform: scale(1.8) rotate(-15deg);
            transform: scale(1.8) rotate(-15deg);
    
}

.working-space h3 {
    font-size: 42px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 3vh;
}

.working-space h3 span {
    font-weight: 500;
}

.working-space p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin: 30px 0;
}

/* Latest Video */
.latest-vid {
    padding: 5vh;
    margin-top: 18vh;
    position: relative;
    background-image:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .9)), color-stop(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 1))), url(../img/racing_1.jpg);
    background-image:  -o-linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1)), url(../img/racing_1.jpg);
    background-image:  linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1)), url(../img/racing_1.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

.embed .desc {
    color: white;
    text-align: center;
}

.embed .desc p {
    font-size: 1.7vh;
}

.embed .ratio iframe {
    border-radius: 10px;
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, .5);
            box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, .5);
}

/* Testimonial */
.testimonial {
    margin-top: 100px;
}

.testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

.testimonial figure img {
    width: 60px;
    margin: 20px 10px 10px;
    opacity: .6;
}

.testimonial figure img.main {
    width: 90px;
    opacity: 1;
    margin-top: 5px;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #616161;
}

.testimonial figure p {
    font-size: 12px;
    color: #ACACAC;
    margin-top: -5px;
}

.testimonial figcaption {
    text-align: center;
}

.footer {
    margin-top: 100px;
}

.footer p {
    color: #ACACAC;
    font-size: 18px;
}

/* Utilities */
.customBtn {
    text-transform: uppercase;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
}




/* DESKTOP VERSION */
@media (min-width: 992px) { 

    .navbar {
        z-index: 7;
        opacity: 1;
        padding: 1vh;
    }

    .navbar .navbar-nav {
        padding: 1vh;
    }

    .navbar-brand {
        margin-top: 0px;
        position: relative;
        z-index: 3;
    }

    .navbar-brand {
        margin-top: -5px;
    }

    /* .navbar-brand:hover img {
        filter: brightness(55%) contrast(100%);
    } */

    .nav-link {
        margin-top: 0px;
        position: relative;
        z-index: 3;
        padding: 1vh !important;
    }

    .navbar .customBtn {
        margin-top: 0px;
    }

    .navbar-brand img {
        position: relative;
        -webkit-filter: brightness(35%) contrast(100%);
                filter: brightness(35%) contrast(100%);
        height: 1.5vw;
    }

    .navbar-brand, .nav-link {
        color: rgb(97, 97, 97) !important;

    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .navbar-nav .active {
        font-weight: bold;
    }

    .navbar-nav .active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #a0a0a0;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #a0a0a0;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: 0px;
        height: 60vh;
    }

    .jumbotron img {
        position: relative;
        z-index: 2;
        width: 5vw;
        margin-top: 0vh;
        padding-top: 10vw;
        padding-bottom: 2vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .jumbotron .display-4 {
        font-size: 4vw;
    }

    .jumbotron video {
        width: 100%;
        height: 75%;
    }

    .panel-info {
        margin-top: 10vh;
    }

    .working-space {
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .working-space h3 {
        margin-top: 0vh;
    }

    .working-space .desc {
        margin: 0;
    }

    .latest-vid {
        background-image:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .9)), color-stop(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 1))), url(../img/racing_1.jpg);
        background-image:  -o-linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1)), url(../img/racing_1.jpg);
        background-image:  linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1)), url(../img/racing_1.jpg);
    }

    .embed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .embed .desc {
        color: white;
        text-align: left;
        margin: 0;
    }

    .embed .desc h5 {
        font-size: 2.5vw;
    }
    
    .embed .desc p {
        font-size: 1.5vw;
        margin-top: 1.5vw;
    }
    
    .embed .ratio iframe {
        border-radius: 10px;
        -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, .5);
                box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, .5);
    }

    .testimonial h5 {
        font-size: 32px;
    }

}